body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e6e8ec;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header {
  background-color: #052243;
  color: #fff;
  padding: 10px 20px;
  justify-content: center;
  display: flex;
}
img {
  float: left;
  align-self: center;
}
nav {
  background-color: #364e68;
  padding: 10px;
  text-align: center;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: #697a8e;
}
span {
  font-weight: bold;
}
